*.tig linguist-language=ocaml
expr.tig.lisp linguist-vendored
expr.tig.old.lisp linguist-vendored
examples/typeclass*.tig linguist-language=haskell
examples/where.tig linguist-language=haskell
examples/hkt-*.tig linguist-language=haskell
examples/* linguist-vendored
runtime.lean linguist-vendored
docs/midterm/report.tex linguist-vendored
docs/midterm/report-1-mng.tex linguist-vendored
docs/midterm/report.ott.tex linguist-vendored
docs/midterm/tigrisd.tex linguist-vendored
docs/midterm/listproc.sty linguist-vendored
docs/midterm/ottalt.sty linguist-vendored
Tigris/oldcore/* linguist-vendored
Tigris/oldcore2/* linguist-vendored
Tigris/oldcore2/matchAppF.lean -linguist-vendored