*.tig linguist-language=ocaml
examples/typeclass*.tig linguist-language=haskell
examples/* -linguist-vendored
runtime.lean -linguist-vendored
docs/midterm/report.tex -linguist-vendored
docs/midterm/report.ott.tex -linguist-vendored
